Repository alonzo-bonilla-deltatre/d3-rsa-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --quiet --fix", "eslint"],
  "*.{json,js,ts,jsx,tsx,html}": ["prettier --write --ignore-unknown"]
}

Merged PR 143569: FFR-0: update npm deps and next to 14.2.7
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Merged PR 143575: FFR-20: use the same workflow for eslint like as main branch
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Merged PR 143622: FFR-4: review readme
  README.md
  public/favicon/favicon.svg
Due: none

Merged PR 143711: FFR-13: Manifest remove unnecessary link
  src/app/layout.tsx
Due: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown

Merged PR 143846: FFR-30: fix seo props
  src/helpers/metadataHelper.ts
  src/helpers/metadataHelpers.test.ts
  src/helpers/pageHelper.test.ts
  src/helpers/pageHelper.ts
  src/services/metadataService.ts
  src/utilities/cloudinaryTransformationsUtility.ts
Due: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown

fix cache-handler possible undefined issue
  cache-handler.js
Due: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown

Review next.config.js images remote patterns with complete configuration
  next.config.js
Due: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown

Removing external dependencies LB/Diva Sdks
  package.json
  src/components/commons/DivaVideoPlayer/DivaVideoPlayer.tsx
  src/components/modules/LiveBlogging/LiveBloggingClient.tsx
  src/components/modules/LiveBlogging/LiveBloggingServer.tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix, eslint, prettier --write --ignore-unknown
